/*Global*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/*Sidebar - Content*/
.grid-1 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
}

.grid-area {
  border: red dashed 1px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sidebar ul li > a,
.sidebar .logo-content > a {
  display: flex;
  gap: 15px;
}

/*Header - Main Content*/
.grid-2 {
  display: grid;
  grid-template-rows: 1fr 6fr;
}