/*Global*/
:root {
  /*Color Palette*/
  --color-white: #ffffff;
  --color-gray-1: #eceef1;
  --color-gray-2: #e2e8f0;
  --color-gray-3: #e1e7f0;
  --color-blue-1: #1992d4;
  --color-blue-2: #1791d4;
  --color-yellow-1: #ffd700;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/*Sidebar - Content*/
.grid-1 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--color-blue-1);
  font-size: 1.3rem;
}

.sidebar ul li > a,
.sidebar .logo-content > a {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  color: var(--color-white);
  margin-left: 1rem;
}

.sidebar .logo-content > a {
  font-size: 1.5rem;
  margin-top: 1rem;
}

/*Header - Main Content*/
.grid-2 {
  display: grid;
  grid-template-rows: minmax(auto, 150px) 4fr;
}

.header {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.header > * {
  justify-content: space-between;
  align-items: center;
}

.header .header-buttons .button {
  background-color: var(--color-blue-1);
}

.header .search-elements {
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  width: 100%;
  max-width: 700px;
}

.header #search-bar {
  background-color: var(--color-gray-2);
  border: none;
  border-radius: 16px;
  padding: 8px 16px;
  width: 80%;
}

.header #search-bar:focus {
  outline: none;
}

.header .top-right-elements {
  gap: 1rem;
  align-items: center;
}

.header .top-right-elements .icon {
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.header .top-right-elements .logo {
  background-color: red;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.header .top-right-elements .user-nickname {
  margin-left: 0.5rem;
  font-size: 1.3rem;
}

.header .user-welcome{
  align-items: center;
  gap: 1rem;
}

.header .user-welcome .logo {
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

/*Your Projects - Announcements And Trending*/

.grid-3 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: var(--color-gray-2);
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-1 {
  background-color: var(--color-white);
  border-left: var(--color-yellow-1) 10px solid;
}

.card-2 {
  background-color: var(--color-white);
}

.card-3 {
  background-color: var(--color-white);
}
